jabr888-Schema1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ArrayOfProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Product"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Product">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Id"/>
        <xs:element ref="Name"/>
        <xs:element ref="Description"/>
        <xs:element ref="Price"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Id" type="xs:integer"/>
  <xs:element name="Name" type="xs:string"/>
  <xs:element name="Description" type="xs:string"/>
  <xs:element name="Price" type="xs:decimal"/>
</xs:schema>